/* Astronaut */

.body {
  position: absolute;
  top: 150px;
  left: 3%;
  width: 140px;
  height: 160px;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 10px 5px silver;
}

.jetpack {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 80px;

  background-color: silver;
}

.arm {
  position: absolute;
  width: 25px;
  height: 90px;
  background-color: rgb(252, 235, 235);
  box-shadow: 0px 0px 10px 5px silver;
  z-index: -1;
}

.arm.left {
  top: 120px;
  left: 165px;
  transform: rotate(414deg);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.arm.right {
  top: 189px;
  left: -35px;
  transform: rotate(-133deg);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.leg {
  position: absolute;
  width: 30px;
  height: 75px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 5px silver;
  z-index: -1;
}

.leg.left {
  top: 300px;
  left: 30px;
}

.leg.right {
  top: 300px;
  left: 90px;
}

.boot-left {
  position: absolute;
  bottom: -30%;
  left: 15%;
  width: 45px;
  height: 25px;
  background-color: lightblue;
  border-radius: 2rem;
}

.boot-right {
  position: absolute;
  bottom: -30%;
  left: 55%;
  width: 45px;
  height: 25px;
  background-color: lightblue;
  border-radius: 2rem;
}

.helmet {
  background: linear-gradient(to bottom, silver, white);
  border-radius: 4rem;
  box-shadow: 0px 0px 10px 5px silver;
  animation: rotate 5s infinite;
}

.jetpack {
  background: linear-gradient(to right, silver, orange);
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 5px silver;
  animation: flame 1s infinite;
  z-index: -2;
}

.astronaut {
  filter: brightness(120%) blur(2px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flame {
  0% {
    height: 20px;
  }
  50% {
    height: 45px;
  }
  100% {
    height: 20px;
  }
}

/* Planet */

.container-planet {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.planet {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(#7ba9d9 40%, #35405a);
  position: absolute;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
  margin: 100px auto;
  animation: rotation 10s linear infinite;
}

.atmosphere {
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background: radial-gradient(
    rgba(255, 255, 255, 0.3) 20%,
    rgba(0, 0, 0, 0) 70%
  );
  position: absolute;
  top: -30px;
  left: -30px;
  animation: atmosphere-rotation 20s linear infinite;
  z-index: 6;
}

.surface {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(#89b1dd 40%, #344263);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.ring {
  width: 410px;
  height: 30px;
  position: absolute;
  top: 180px;
  left: 0;
  transform: rotate(-20deg);
  animation: ring-rotation 60s linear infinite;
  box-sizing: border-box;
  z-index: 7;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 5px rgba(255, 255, 255, 0.4) inset;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes atmosphere-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-rotation {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(340deg);
  }
}
