@media (max-width: 470px) {
  .swiper {
    width: 25rem;
    height: 12.5rem;
  }
  .home {
    min-height: 30.313rem;
    padding-top: 5rem;
  }
  .home-img {
    width: 15rem;
    height: 15rem;
  }
  .homepage-content {
    padding-top: 2rem;
  }
  .homepage-text h2 {
    font-size: 2.1rem;
    line-height: 3.2rem;
  }
  .home-text p br {
    display: contents;
  }
  .heading {
    font-size: 3rem;
  }
  .about-data h2 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 600;
    margin: 0.6rem 0;
  }
  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media (max-width: 416px) {
  .swiper {
    width: 21.875rem;
    height: 12.5rem;
  }
  .navbar {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .swiper {
    width: 19.375rem;
    height: 11.25rem;
  }

  .homepage-text h2 {
    font-size: 2.5rem;
    line-height: 3.4rem;
  }

  #typewriter,
  #typewriter2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 350px) {
  .swiper {
    width: 18rem;
  }
  #typewriter,
  #typewriter2 {
    font-size: 1.1rem;
  }
  .responsiveText {
    font-size: 21px;
  }
}
