@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  height: 100vh;
  background: #090a1a;
}

#front-page-text {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}

#enter-site-button {
  background-color: white;
  position: absolute;
  width: 12rem;
  height: 3rem;
  bottom: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-style: none;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

#enter-site-button:hover {
  background-color: #647bff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.3);
  color: white;
  cursor: pointer;
  bottom: 33%;
  left: 50%;
}

#bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.name-heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
  #front-page-text {
    white-space: nowrap;
  }
}

/*TABLET*/
@media screen and (max-width: 700px) {
  .name-heading {
    font-size: 50px;
  }

  #front-page-text {
    font-size: 16px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 500px) {
  .name-heading {
    font-size: 50px;
  }
}

@media screen and (max-width: 470px) {
  .name-heading {
    font-size: 40px;
  }

  #front-page-text {
    font-size: 14px;
    white-space: nowrap;
  }
}

/* MOBILE*/
@media screen and (max-width: 420px) {
  .name-heading {
    font-size: 30px;
  }

  #front-page-text {
    font-size: 12px;
    white-space: nowrap;
  }
}
