@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #090a1a;
}

#front-page-text {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 1.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}

#enter-site-button {
  background-color: white;
  position: absolute;
  width: 12rem;
  height: 3rem;
  bottom: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-style: none;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  clip-path: polygon(
    2rem 0,
    calc(100% + 2rem) 0,
    calc(100% - 2rem) 100%,
    -2rem 100%
  );
}

#enter-site-button:hover {
  background-color: #647bff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.3);
  color: white;
  cursor: pointer;
  bottom: 34%;
  left: 50%;
}

#bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.name-heading {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  font-weight: 700;
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  text-shadow: 0 2px 1px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878,
    -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f, -5px 11px 1px #838383,
    -6px 13px 1px #878787, -7px 15px 1px #8a8a8a, -8px 17px 1px #8e8e8e,
    -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f,
    -12px 25px 1px #a2a2a2, -13px 27px 1px #a7a7a7, -14px 29px 1px #adadad,
    -15px 31px 1px #b3b3b3, -16px 33px 1px #b6b6b6, -17px 35px 1px #bcbcbc,
    -18px 37px 1px #c2c2c2, -19px 39px 1px #c8c8c8, -20px 41px 1px #cbcbcb,
    -21px 43px 1px #d2d2d2, -22px 45px 1px #d5d5d5, -23px 47px 1px #e2e2e2,
    -24px 49px 1px #e6e6e6, -25px 51px 1px #eaeaea, -26px 53px 1px #efefef;

  animation: fading 6s infinite;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1180px) {
  #front-page-text {
    white-space: nowrap;
  }
}
@media screen and (max-width: 700px) {
  .name-heading {
    font-size: 3.125rem;
  }

  #front-page-text {
    font-size: 1rem;
    white-space: nowrap;
  }
  #enter-site-button {
    bottom: 41%;
  }
  #enter-site-button:hover {
    bottom: 43%;
  }
}

/*TABLET*/

@media screen and (max-width: 470px) {
  .name-heading {
    font-size: 2.5rem;
  }

  #front-page-text {
    font-size: 0.875rem;
    white-space: nowrap;
    top: 35%;
  }
  #enter-site-button {
    bottom: 40%;
  }
  #enter-site-button:hover {
    bottom: 43%;
  }
}

/*MOBILE*/

@media screen and (max-width: 420px) {
  .name-heading {
    font-size: 1.875rem;
  }

  #front-page-text {
    font-size: 0.75rem;
    white-space: nowrap;
  }
  #enter-site-button {
    bottom: 45%;
  }
  #enter-site-button:hover {
    bottom: 47%;
  }
}

@media screen and (max-width: 380px) {
  .name-heading {
    font-size: 1.5rem;
  }
  #front-page-text {
    font-size: 0.6rem;
    white-space: nowrap;
    top: 30%;
  }
  #enter-site-button {
    bottom: 50%;
  }
  #enter-site-button:hover {
    bottom: 52%;
  }
}
