@media (max-width: 775px) {
  .logo {
    height: 4rem;
    width: 8rem;
  }
  .homepage-content {
    min-height: 500px;
    padding-top: 6rem;
  }
  .homepage-text h3 {
    font-size: 1rem;
  }
  .swiper {
    width: 500px;
    height: 250px;
  }
  .homepage-text h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .homepage-text p {
    font-size: 0.825rem;
  }
  .portfoliio-box {
    height: 245px;
  }
  .hamburger-menu-icon {
    display: flex;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    /* background: var(--box-color); */
    background: linear-gradient(
      to bottom,
      #deefff 0%,
      #98bede 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .toggle-sidebar {
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link {
    display: block;
    margin: 1rem 0;
  }
    .skills-content,
    .portfolio-content {
    grid-template-columns: 1fr; 
  }
}

@media (max-width: 635px) {
  .about-content {
    grid-template-columns: 1fr;
  }
  .swiper {
    width: 450px;
    height: 200px;
  }
}
.about-data {
  font-size: 0.9rem;
  justify-content: center;
}

.about-data h2 {
  font-size: 1.7rem;
  line-height: 2.3rem;
  font-weight: 600;
  margin: 0.8rem 0;
}
